* {
    padding: 0;
    margin: 0;
}

/*-headerについて----------------------*/

header{
    position: relative;
    height: 100vh;
}

.bg-slider{
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
 }



.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.title h2 {
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-size: 40px;
    color: #fff;
    margin-top: 40px;
}


nav {
    padding-top: 30px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-weight: 300;
    font-size: 27px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li:nth-last-child(1) {
    margin-right: 60px;
}

nav ul li a:hover {
    color: #3d5cdb;
    transition: 0.7s;
}



/*-全体にむけて------------------------*/

main h2 {
    font-size: 53px;
    font-weight: 300;
    margin: 50px 0px;
    text-align: center;
    color: #3e5cdb;
}

button {
    color: #fff;
    border: none;
    /* 枠線を消す */
    outline: none;
    /* クリックしたときに表示される枠線を消す */
    background: transparent;
    /* 背景の灰色を消す */
}

button:hover {
    box-shadow: 3px 2px 10px 2px #bbb;
}

/*-mainについて-----------------------*/

/*-Introductionについて---------------*/

#Introduction {
    width: 1040px;
    margin: auto;
}

#Introduction p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #333;
}

#Intrduction button {
    height: 40px;
}

/*-Intro_1--------------------------*/

#intro_1 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#intro_1 .box_r {
    width: 400px;
    padding: 15px 45px 0px 45px;
}

#intro_1 p {
    padding-bottom: 10px;
}

#intro_1 img {
    margin-right: 40px;
}

#intro_1 button {
    background-color: #3e5ddb;
    box-sizing: border-box;
    width: 170px;
    padding: 0px 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    border-radius: 12px;
    margin: 30px 0px;
    display: block;
    margin: 15px auto;
}

/*-Intro_2----------------------------*/

#intro_2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

#intro_2 .box_l {
    width: 400px;
    padding: 15px 45px 10px 45px;
}


#intro_1 p {
    padding-bottom: 10px;
}

#intro_2 img {
    margin-left: 40px;
}

#intro_2 button {
    background-color: #FFBF01;
    box-sizing: border-box;
    width: 170px;
    padding: 0px 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    border-radius: 12px;
    margin: 30px 0px;
    display: block;
    margin: 15px auto;
}

/*-courseについて---------------*/

#course {
    background-color: #D6E6F9;
    width: 100vw;
    height: 950px;
    padding-top: 50px;
}

#course h2 {
    margin: 0 auto 50px;
}

.eachcourse {
    height: 340px;
    width: 240px;
    background-color: #fff;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 12px;
}

.course_line_1 {
    display: flex;
    justify-content: center;
}


.course_line_2 {
    display: flex;
    justify-content: center;
}

#course img {
    display: block;
    margin: auto;
    width: 100px;
}

#course figure {
    height: 210px;
    box-sizing: border-box;
}

#course h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: ##183c61;
    margin-bottom: 30px;
}

/*-buttonについて---------------*/

#course button {
    width: 170px;
    height: 40px;
    border-radius: 12px;
    display: block;
    margin: auto;
    font-size: 13px;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
}

.course_1 button {
    background-color: #f16529;
}

.course_1 img {
    padding-top: 35px;
}

.course_2 button {
    background-color: #29a9df;
}

.course_2 img {
    padding-top: 30px;
}

.course_3 button {
    background-color: #333;
}

.course_3 img {
    padding-top: 55px;
}

.course_4 button {
    background-color: #ff5252;
}

.course_4 img {
    padding-top: 55px;
}

.course_5 button {
    background-color: #fed700;
}

.course_5 img {
    padding-top: 53px;
}

.course_6 button {
    background-color: #fe7536;
}

.course_6 img {
    padding-top: 60px;
}

.course_7 button {
    background-color: #73cedd;
}


.course_7 img {
    padding-top: 65px;
}

/*-imagesについて---------------*/

#images .wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

#images img {
    width: 275px;
    height: 180px;
}

.slick div{
    transition:none;
}


/*-accessについて---------------*/


#map {
    display: block;
    margin: 0px auto 75px;
}


/*-footerについて---------------*/
#footer {
    text-align: center;
    color: #3e5ddb;
    margin-bottom: 95px;
}
